<div class="page-content">
    <div class="container">

        <div class="center">
            <div class="col">
                {{#each users}}
                <ul class="list-group justify-content-evenly mb-1">

                    <div class="row">

                        <li class="list-group-item col ">{{this.username}}</li>
                        <li class="list-group-item col">{{this.role}}</li>
                        <li class="list-group-item  col"><a href="/profile/details/{{_id}}">View details</a></li>
                    </div>

                </ul>
                {{/each}}

            </div>
        </div>

    </div>
</div>