<div class="mainP">

    <div class="container">

        <div class="row">
            <div class="col md-6">
                <h2 class="omg">Feel free to explore the beauties of our museum.</h1>
            </div>
            <div class="col md-6">
                {{#unless result.logged}}
                <h2 class="omg"> <a href="/auth/signUp">Join</a> our <a href="/auth/logIn">community</a> and enjoy
                    guided visits and
                    our social netWork! </h2>{{/unless}}{{#if result.logged}}
                <h2 class="omg">Welcome</h2>{{/if}}
            </div>

        </div>


        <div class="row">
            <figure id="nyMap" class="mt-5 mapinchi"></figure>
        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/maps-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyAXrluxt6edH6GHzswvJd_nckU_vPeBjzc"></script>