body {
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.marginIm {
  margin: 18px;
  border-radius: 4px;
  max-width: 250px;
  max-height: 500px;
  align-items: center;
}

.marginR {
  margin-right: 10px;
  margin-bottom: 30px;
}

.imgList {
  max-width: 60px;
  max-height: 40px;
}

.mainP {
  background-image: url("/images/ole.jpg");

  margin-top: 10px;
  background-size: cover;
  padding-left: -30px;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}

#nyMap {
  height: 500px;
}

#theMap {
  height: 280px;
}

.imgDet {
  max-width: 400px;
  max-height: 200px;
}

.maponchi {
  border-radius: 12px;
  border-width: 3px;
  border-color: rgb(113, 113, 187);
  border-style: solid;

}

.mapinchi {
  border-radius: 12px;
  border-width: 2px;
  border-color: red;
  border-style: solid;

}

.omg {
  font-size: 3em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: blanchedalmond;
  margin-top: 40px;
  border-radius: 13px;
  padding: 10px;
  text-align: center;
}

nav.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 49px;
  z-index: 1;
}

.page-content {
  padding: 20px 0 20px 0;
  margin-top: 49px;
}

.coli {
  margin-left: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
}

.imgFav {
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
  margin-right: 10px;
}

.gallery .card-img-top {
  max-height: 400px;
  max-width: 400px;
  margin: 10px;
  padding: 10px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}